<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhw.demo.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.qhw.demo.domain.Department">
    <id column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="dept_date" jdbcType="VARCHAR" property="deptDate" />
    <result column="dept_phone_number" jdbcType="VARCHAR" property="deptPhoneNumber" />
    <result column="dept_manger" jdbcType="VARCHAR" property="deptManger" />
  </resultMap>

  <resultMap id="roleResultMap" type="com.qhw.demo.domain.Role">
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    dept_id, dept_name, dept_date, dept_phone_number, dept_manger
  </sql>
  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select dept.dept_id
    from department dept
    LEFT JOIN user_department ud on ud.department_id=dept.dept_id
    LEFT JOIN user u on u.user_id=ud.user_id
    where u.user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectAllDepartment" resultMap="BaseResultMap">
    SELECT
    dept_id, dept_name, dept_date, dept_phone_number, dept_manger,dr.role_id
    FROM department d
    LEFT JOIN department_role dr
    ON d.dept_id=dr.department_id
  </select>
  <select id="selectDepartmentById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM department
    WHERE dept_id=#{deptId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from department
    where dept_id = #{deptId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="dept_id" keyProperty="deptId" parameterType="com.qhw.demo.domain.Department" useGeneratedKeys="true">
    insert into department (dept_name, dept_date, dept_phone_number, dept_manger)
    values (#{deptName,jdbcType=VARCHAR}, sysdate(), #{deptPhoneNumber,jdbcType=VARCHAR},
      #{deptManger,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="dept_id" keyProperty="deptId" parameterType="com.qhw.demo.domain.Department" useGeneratedKeys="true">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="deptDate != null">
        dept_date,
      </if>
      <if test="deptPhoneNumber != null">
        dept_phone_number,
      </if>
      <if test="deptManger != null">
        dept_manger,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptDate != null">
        #{deptDate,jdbcType=VARCHAR},
      </if>
      <if test="deptPhoneNumber != null">
        #{deptPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="deptManger != null">
        #{deptManger,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhw.demo.domain.Department">
    update department
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptDate != null">
        dept_date = #{deptDate,jdbcType=VARCHAR},
      </if>
      <if test="deptPhoneNumber != null">
        dept_phone_number = #{deptPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="deptManger != null">
        dept_manger = #{deptManger,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhw.demo.domain.Department">
    update department
    set dept_name = #{deptName,jdbcType=VARCHAR},
      dept_date = sysdate(),
      dept_phone_number = #{deptPhoneNumber,jdbcType=VARCHAR},
      dept_manger = #{deptManger,jdbcType=VARCHAR}
    where dept_id = #{deptId,jdbcType=BIGINT}
  </update>
</mapper>