<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhw.demo.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.qhw.demo.domain.UserRoleKey">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <select id="countUserRoleByRoleId" parameterType="java.lang.Long" resultType="int">
    SELECT COUNT(1) FROM user_role WHERE role_id=#{roleId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.qhw.demo.domain.UserRoleKey">
    delete from user_role
    where user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteById" parameterType="Long">
    delete from user_role
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qhw.demo.domain.UserRoleKey" useGeneratedKeys="true">
    insert into user_role (user_id,role_id)
    values (#{userId,jdbcType=BIGINT},#{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.qhw.demo.domain.UserRoleKey" useGeneratedKeys="true">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>