<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhw.demo.mapper.UserDepartmentMapper">
  <resultMap id="BaseResultMap" type="com.qhw.demo.domain.UserDepartmentKey">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="department_id" jdbcType="BIGINT" property="departmentId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.qhw.demo.domain.UserDepartmentKey">
    delete from user_department
    where user_id = #{userId,jdbcType=BIGINT}
      and department_id = #{departmentId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteById" parameterType="Long">
    delete from user_department
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert"  parameterType="com.qhw.demo.domain.UserDepartmentKey" useGeneratedKeys="true">
    insert into user_department ( user_id, department_id)
    values (#{userId,jdbcType=BIGINT},#{departmentId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.qhw.demo.domain.UserDepartmentKey" useGeneratedKeys="true">
    insert into user_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        department_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        #{departmentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>